<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richard.dao.espec.CursoMapper">

    <resultMap id="Curso" type="com.richard.domain.Curso">
        <id property="id" column="id"/>
        <result property="titulo" column="titulo"/>
        <result property="activo" column="activo"/>
        <result property="horas" column="horas"/>
        <result property="nivel" column="nivel"/>
        <result property="idProfesor" column="idProfesor"/>
    </resultMap>

    <select id="getActivos" resultMap="Curso">
        SELECT *
        FROM CURSO
        WHERE ACTIVO = TRUE;
    </select>
    <insert id="insert" parameterType="Curso">
        INSERT INTO CURSO (titulo, activo, idProfesor, nivel, horas)
        VALUES (#{titulo}, #{activo}, #{idProfesor}, #{nivel}, #{horas});
    </insert>
</mapper>
